*{
    margin: 0;
    padding: 0;
}
#main {
display: flex;
flex-direction: row;
}
#container {
    background-color: bisque;
}

#title {
   margin: 50px 200px 50px 200px;
}
.baslik {
    text-align: center;
}
#img-div {
    margin: auto;

}
#image {
    max-width: 100%;
    display: block;
    height: auto;
    width: 80%;
    margin: auto;


}

#img-caption {
    margin-left: auto;
    margin-right: auto;
    width: 60em;
}
#text{
    text-align: center;
}
#tribute-info {
    margin: auto;

}
#list {
  

}

#tribute-link {
    margin: auto;

}